<div class="container mt-5">
  <div class="d-flex justify-content-center ">
    <h2>{{ title }}</h2>
  </div>
  <form (ngSubmit)="onSubmit()" #departmentForm="ngForm">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="department.name" name="name">
    </div>
    <div class="form-group">
      <label for="floor">Floor</label>
      <input type="number" class="form-control" id="floor" required [(ngModel)]="department.floor" name="floor">
    </div>
    <div class="d-flex justify-content-center mt-3">
      <button type="submit" class="btn btn-primary btn">{{ isEditing ? 'Save' : 'Add' }}</button>
      <button type="button" class="btn btn-outline-secondary btn" (click)="onCancel()">Cancel</button>
    </div>
  </form>
</div>
